/* 
    Criado em : 29/11/2019
    Autora    : Jennefer Barbosa
*/
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-size: 1em;
}

header #logotipo {

  padding-left: 150px;
}

#itens-menu{
  font-size: 20pt;
   font-family: "OpenSans";
  padding-top: 2%;
  padding-left: 32%;
}